h1,h2,p,article{
    text-align: center;
}
hr{
    box-shadow: 0px 4px 17px 2px rgba(228, 202, 168, 0.406);
    background-color: rgba(228, 202, 168, 0.406);
    box-shadow: -10px 4px 5px; 
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(228,202,168);
    background-image: url(images/pexels-nikolay-osmachko-230477.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.teaIcon{
    height: 50px;
    width: 50px;
    margin:auto;
    display: block;
}
.teaMenu{
    background-color: rgba(228, 202, 168, 0.406);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

h1{
    margin: 0;
}
.teaItem p{
    /* background-color: red; */
    display: inline-block;
    font-weight: 400;
}

.teaFlavor, .collectionPrice{
    /* background-color: red; */
    text-align: left;
    width: 75%;
}
.teaPrice, .collectionPrice{
    /* background-color: blue; */
    text-align: right;
    width: 25%;
}
.established{
    font-style: italic;
}
footer{
    font-size: 14px;
}

a {
    color: black;
}

a:link{
    color: green;
}

a:visited {
    color:white;
}

a:hover{
    color: red;
}

a:active{
    color: yellow;
}